<!DOCTYPE html>
<html>
<head>
  <title>Cadastro</title>
</head>
<body>
  <h1>Cadastro de Usuário</h1>
  <form method="post">
    Nome: <input type="text" name="nome" required><br>
    Email: <input type="email" name="email" required><br>
    Senha: <input type="password" name="senha" required><br>
    <input type="checkbox" name="consentimento" required> Aceito a <a href="/docs/politica-de-protecao-de-dados.md" target="_blank">política de privacidade</a><br>
    <button type="submit">Cadastrar</button>
  </form>
</body>
</html>
